apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: metallb-controller
  namespace: monitoring
  labels:
    app: metallb
    component: controller
spec:
  selector:
    matchLabels:
      app: metallb
      component: controller
  namespaceSelector:
    matchNames:
      - metallb-system
  endpoints:
  - port: metrics
    interval: 15s
    path: /metrics
