apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: istio-galley
  namespace: monitoring
  labels:
    app: istio-galley
spec:
  selector:
    matchLabels:
      app: istiod
  namespaceSelector:
    matchNames:
      - istio-system
  endpoints:
  - port: http-monitoring
    interval: 15s
