# 命名空间配置
namespace = "metallb-system"

# IP地址池配置
ip_address_pool_name = "metallb-pool"
ip_addresses          = ["192.168.40.100-192.168.40.110"]

# L2Advertisement配置
l2_advertisement_name = "metallb-l2"

# MetalLB版本
metallb_version = "v0.14.8"

# kube-proxy strictARP配置
kube_proxy_strict_arp = true
