# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Temporary files
*.tmp
*.bak
*.log

# Unused manifests and dashboards
modules/prometheus/manifests/
modules/prometheus/dashboards/
