# MLflow deployment configuration

# Kubernetes configuration
kubeconfig_path  = "~/.kube/config"
k8s_api_endpoint = "192.168.40.241"

# Enable MLflow deployment
mlflow_enabled   = true

# MLflow settings
mlflow_namespace = "mlflow"
mlflow_replicas  = 1
service_type     = "LoadBalancer"